body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
}

.container {
    width: 1000px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.header-esquerda {
    background-color: lightblue;
    color: black;
    padding: 10px;
    font-weight: bold;
    flex-grow: 1;
}

.header-meio {
background-color: white;
padding: 5px;

}

.header-direita {
    background-color: darkblue;
    width: 400px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 150px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
}

.form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.form-row .form-group {
    flex: 1;
}

.radio-group,
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox-group {
    flex-wrap: wrap;
}

.checkbox-group label {
    width: 30%;
}

.checkbox-container {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.checkbox-container p {
    font-weight: bold;
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 10px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.checkbox-container .termos {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 40px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    padding: 5px 15px;
    border: 1px solid #3c3c3c;
    background-color: #e0e0e0;
    cursor: pointer;
}

.buttons {
    text-align: center;
    margin-top: 10px;
}

button {
    padding: 8px 15px;
    border: none;
    background-color: lightgray;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons button:hover {
    background-color: #3c3c3c;
    color: white;
}